.jumbotron {
  background-image: url(http://www.billboard.com/files/media/the-roots-press-billboard-1548.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Comfortaa', cursive;
    color: white;
  }

  .col { background-color: white;
  }
